In [62]:
df=pd.DataFrame({'Avg. Temperature':[0.2,1.6,5.7,11.3,18.8,16.1,20.1,23.5,23.4,12.9],
                 'Avg. Rainy Days':[12.1,11.1,10.7,11,4,12.1,8.4,3.4,2.6,6.8]})

In [63]:
df

   Avg. Temperature  Avg. Rainy Days
0               0.2             12.1
1               1.6             11.1
2               5.7             10.7
3              11.3             11.0
4              18.8              4.0
5              16.1             12.1
6              20.1              8.4
7              23.5              3.4
8              23.4              2.6
9              12.9              6.8

In [64]:
#initializing the dependent and independent feature
X=df[['Avg. Temperature']]
Y=df[['Avg. Rainy Days']]

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
X, Y, test_size=0.2, random_state=42)

In [66]:
from sklearn.linear_model import LinearRegression

In [67]:
regressor=LinearRegression()

In [68]:
regressor.fit(X_train,y_train)

LinearRegression()

In [75]:
coefficient=regressor.coef_
print(coefficient[0][0])

-0.322119892237031

# MSE

In [72]:
from sklearn.metrics import mean_squared_error
y_pred = regressor.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
print(mse)

4.784533617336363

# MAE

In [71]:
from sklearn.metrics import mean_absolute_error
mae =mean_absolute_error(y_test, y_pred)
print(mae)

2.0587788841548083

# RMSE

In [76]:
import numpy as np
print(np.sqrt(mse))

2.1873576793328438